/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

@import '~bootstrap/dist/css/bootstrap.min.css';
@import './fontawesome.min.css';
@import './regular.css';
@import './solid.css';
@import './scssHelpers.scss';

:root {
  --primary: #512da8;
  --secondary: #8e24aa;
}
#tooltipRoot {
  --tooltipCaretHeight: 8px;
  --tooltipCaretWidth: 6px;
  --tooltipTransitionDuration: 0.15s;
  --tooltipColor: var(--primary);
}

html {
  font-size: 18px;
}

@font-face {
  font-family: SSPR;
  src: url('/font/SourceSansProR.ttf');
}

@font-face {
  font-family: SSPL;
  src: url('/font/SourceSansProL.ttf');
}

body {
  font-family: SSPR, 'ubuntu', 'Comic Sans MS';
  background-image: url('/img/s2.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1,
h2,
h3 {
  font-family: SSPL;
}

input.form-control,
input.form-control:focus,
textarea.form-control,
textarea.form-control:focus,
select.form-control,
select.form-control:focus {
  color: #222;
}

.btn-primary {
  padding-top: 4px;
  background-color: var(--primary);
  border-color: var(--primary);
  &:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
  }
  &:active,
  &:focus {
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
    box-shadow: 0 0 0 0.2rem rgba(230, 81, 0, 0.5) !important;
  }
}
.btn-outline-primary {
  color: var(--primary);
  border-color: var(--primary);
  &:hover {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
  }
}

a {
  color: var(--primary);
  &:hover {
    color: var(--secondary);
  }
}

.btn-link {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  color: var(--primary);
  &:hover {
    color: var(--secondary);
  }
}

.form-control {
  &__inline {
    width: auto;
  }
}

.fa,
.far {
  color: var(--primary);
  &_big {
    padding: 2px 5px;
  }
  &_link {
    cursor: pointer;
    user-select: none;
    &:hover {
      text-decoration: none;
      color: var(--secondary);
    }
  }
}
.fa {
  &_hint {
    font-size: 20px;
    cursor: help;
    user-select: none;
  }
}

.clickable {
  cursor: pointer;
  user-select: none;
}

/*remove*/
.items-center {
  align-items: center;
}
.inline-flex {
  display: inline-flex;
}

.fake-link {
  display: inline-block;
  &__button {
    padding: 0;
    border: none;
    background: transparent;
  }
}

.error {
  color: #c9302c;
}

.text-light {
  font-size: 0.75rem;
  color: #6e7582 !important;
}

.splash-screen {
  display: block;
  width: 100%;
  height: calc(100vh - 20px * 2 - 70px);
  border-radius: 10px;
  background: url('/img/s2.png');
  background-size: cover;
}

.nav-link {
  padding: 0px 6px;
  padding-bottom: 2px;
  margin-right: 20px;
  border-radius: 12px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    color: #fff;
    text-decoration: underline;
  }
  &_active {
    background: #fff;
    color: var(--primary);
    &:hover {
      color: var(--primary);
      text-decoration: none;
      cursor: default;
    }
  }
}

.spinner {
  --color: var(--primary);
  --altColor: var(--secondary);
  --radius: 10px;
  --size: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--radius) * 2 + var(--size) * 3.5);
  height: calc(var(--radius) * 2 + var(--size) * 3.5);

  &:before {
    display: block;
    height: var(--size);
    width: var(--size);
    content: '';
    animation: spin 1.5s infinite;
    border-radius: 100%;
    box-shadow: var(--radius) 0 0 var(--size) var(--color),
      0 var(--radius) 0 var(--size) var(--altColor),
      0 calc(var(--radius) * -1) 0 var(--size) var(--altColor),
      calc(var(--radius) * -1) 0 0 var(--size) var(--color);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
